.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    img {
        width: 100px;
    }
    .subtitle {
        width: 55%;
        text-align: center;
        margin-bottom: 2rem;
        img {
            width:50%;
        }
        h1 {
            color: black;
            font-size: 2rem;
            text-align: center;
            font-weight: 800;
            margin-top: 2rem;
        }
        .buttonwrap {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            .button {
                margin: 1rem;
                width: 20%;
                font-size: 0.8rem;
                font-weight: 600;
                color: white;
                text-transform: uppercase;
                border: #1058fc solid 1.5px;
                padding: 0.5rem 1.5rem;
                border-radius: 2rem;
                transition: 0.3s;
                background-color: #1058fc;
            }
            .button:hover {
                color: black;
                background-color: white;
                border: #1058fc solid 1.5px;
            }
        }
        .line {
            margin: 1.6rem auto;
            width: 10%;
            height: 5px;
            background-color: black;
        }
    }
    .gallery {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
        img {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }
}

@media (max-width: 480px) {
    .wrap {
        width: 100%;
        img {
            margin-top: 2rem;
        }
        .subtitle {
            width: 80%;
            .buttonwrap {
                flex-direction: column;
                .button {
                    margin-top: 1rem;
                    width: 50%;
                }
            }
        }
    }
}