.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    .title {
        margin: 3rem 0 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        .square {
            height: 1rem;
            width: 1rem;
            margin-right: 1rem;
            background-color: #1058fc;
          }
        p {
            font-size: 2rem;
            font-weight: 800;
            text-transform: capitalize;
        }
    }
    .subtitle {
        width: 55%;
        text-align: center;
        margin-bottom: 4rem;
        img {
            width:50%;
        }
        h1 {
            color: black;
            font-size: 2rem;
            text-align: center;
            font-weight: 800;
            margin-top: 2rem;
        }
        h5 {
            color: black;
            font-weight: 400;
            line-height: 1.5rem;
        }
        h6 {
            color: black;
            font-weight: 600;
            line-height: 2rem;
        }
        .buttonwrap {
            width: 100%;
            display: flex;
            justify-content: center;
            .button {
                margin-top: 1rem;
                width: 20%;
                font-size: 0.8rem;
                font-weight: 600;
                color: white;
                text-transform: uppercase;
                border: #1058fc solid 1.5px;
                padding: 0.5rem 1.5rem;
                border-radius: 2rem;
                transition: 0.3s;
                background-color: #1058fc;
            }
            .button:hover {
                color: black;
                background-color: white;
                border: #1058fc solid 1.5px;
            }
        }
        .line {
            margin: 1.6rem auto;
            width: 10%;
            height: 5px;
            background-color: black;
        }
    }
    .gallery {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 1rem;
        img {
            width: 80%;
            margin-bottom: 0.5rem;
        }
    }
}

@media (max-width: 480px) {
    .wrap {
        width: 100%;
        .subtitle {
            width: 80%;
            .buttonwrap {
                .button {
                    margin-top: 1rem;
                    width: 40%;
                }
            }
        }
        .gallery {
            flex-flow: column;
            align-items: center;
            img {
                width: 90%;
            }
        }
    }
}