.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    .title {
        margin: 3rem 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        .square {
            height: 1rem;
            width: 1rem;
            margin-right: 1rem;
            background-color: #1058fc;
          }
        p {
            font-size: 2rem;
            font-weight: 800;
            text-transform: capitalize;
        }
    }
    .subtitle {
        width: 50%;
        margin: 2rem 0;
        line-height: 1.5rem;
        font-size: 1rem;
        text-align: center;
    }
    .gallery {
        width: 50%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        margin-bottom: 2rem;
        .main {
            margin-bottom: 1rem;
        }
        .notmain {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            img {
                flex-grow: 1;
                width: 40%;
            }
        }
    }
}

@media (max-width: 480px) {
    .wrap {
        width: 100%;
        .subtitle {
            width: 80%;
        }
        .gallery {
            width: 85%;
            height: auto;
            flex-flow: column;
            .main {
                width: 100%;
            }
            .notmain {
                flex-flow: column;
                img {
                    width: 100%;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}